<head>
    <title>{{ site.title }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ site.description }}" />
    <meta name="og:description" content="{{ site.description }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <link rel="canonical" href="{{ site.canonical }}" />

    {{!-- Meta redes sociales IMAGEN --}}
    {{#compare section '!=' 'movie'}}
        <meta property="og:image" content="https://image.tmdb.org/t/p/w154{{get 'poster_path' (itemAt featured_movies 0)}}" />
    {{else}}
        <meta property="og:image" content="https://image.tmdb.org/t/p/w154{{movie.poster_path}}" />
    {{/compare}}
    
    {{!-- Metas redes sociales --}}
    <meta property="og:url" content="{{ site.canonical }}" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:type" content="website" />
    <meta name="twitter:title" content="{{ site.title }}" />
    <meta name="twitter:card" content="summary_large_image" />

    {{!-- Optimizar dominios --}}
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />

    {{!-- CSS --}}
    <link rel="stylesheet" href="/static/css/core.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    {{!-- Alternate langs --}}
    {{#if site.alternate_lang}}
        {{#forEach site.alternate_lang}}
            {{#if default}}
                <link rel="alternate" hreflang="x-default" href="{{href}}" />
            {{/if}}
            <link rel="alternate" hreflang="{{hreflang}}" href="{{href}}" />
        {{/forEach}}
    {{/if}}

    {{!-- Analytics --}}
    {{#if site.analytics}}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{site.analytics}}"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{site.analytics}}');
        </script>
    {{/if}}
</head>